{% extends "base.html" %}
{% block content %}

<h2 class="mb-4">📊 Retail Performance Dashboard</h2>

<div class="card p-4 shadow-lg">

    <div class="ratio ratio-16x9">
        <iframe
            title="Retail Dashboard"
            src="https://app.powerbi.com/view?r=eyJrIjoiYjVkYTczNDEtNmIwZi00MzhmLTkyODktNThhZWFiYzIzYzViIiwidCI6ImQxZjE0MzQ4LWYxYjUtNGEwOS1hYzk5LTdlYmYyMTNjYmM4MSIsImMiOjEwfQ%3D%3D"
            frameborder="0"
            allowFullScreen="true">
        </iframe>
    </div>

</div>

{% endblock %}
